<%- include('header.ejs'); %>
<style>
    .navbar-nav{
        margin-bottom: -40px;
        margin-top: 15px;
    }

    .navbar-divider {
        border-top: 1px solid #ccc;
        margin-top: 0;
        margin-bottom: 0;
    }
</style>
<div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-link mx-4" href="#">Nos services</a>
        <p class="nav-link">|</p>
        <a class="nav-link mx-4 active" href="/about">À propos de nous</a>
        <p class="nav-link">|</p>
        <a class="nav-link mx-4" href="/connection">Connexion </a>
        <p class="nav-link">|</p>
        <a class="nav-link mx-4">Contact</a>
    </div>
</div>
</div>
</nav>
<div class="navbar-divider"></div>
<div class="container col-xxl-12 px-4 py-2">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="images/polyglot-diversity-homepage.jpg" class="d-block mx-lg-auto img-fluid" title="" alt="" width="500" height="400" loading="lazy">
            <p class="text-end px-4 fw-lighter">Credit to rawpixel.com</p>
        </div>
        <div class="col-lg-6">
            <h1  class="display-5 text-body-emphasis lh-1 mb-3 py-4 ">À propos de nous</h1>
            <p class="py-2 w-75"><strong>Polyglot</strong> est un projet réalisé par une équipe de 5 étudiants en Bachelor Universitaire de Technologie (BUT) Informatique.
                L'objectif de ce site est l'apprentissage de nouvelles langues ainsi que le partage entre utilisateur.
            </p>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <h1 class="display-5 text-body-emphasis lh-1 mb-4 py-5 text-center">Présentation de l'équipe</h1>
    <div class="row justify-content-center">
        <div class="col text-center mb-4">
            <img src="images/Angela_photo.png" title="" alt="" width="150" height="150" class="mb-2 spaced-image">
            <h3 class="mb-1">Angela</h3>
            <p class="mb-0">Développeuse front-end & back-end</p>
        </div>
        <div class="col text-center mb-4">
            <img src="images/Neil_photo.png" title="" alt="" width="150" height="150" loading="lazy" class="mb-2 spaced-image">
            <h3 class="mb-1">Neil</h3>
            <p class="mb-0">Développeur front-end</p>
        </div>
        <div class="col text-center mb-4">
            <img src="images/Amin_photo.png" title="" alt="" width="150" height="150" loading="lazy" class="mb-2 spaced-image">
            <h3 class="mb-1">Amin</h3>
            <p class="mb-0">Administrateur base de données</p>
        </div>
        <div class="col text-center mb-4">
            <img src="images/Aymen_photo.png" title="" alt="" width="150" height="150" loading="lazy" class="mb-2 spaced-image">
            <h3 class="mb-1">Aymen</h3>
            <p class="mb-0">Développeur front-end & back-end</p>
        </div>
        <div class="col text-center mb-4">
            <img src="images/Sofiane_photo.png" title="" alt="" width="150" height="150" loading="lazy" class="mb-2 spaced-image">
            <h3 class="mb-1">Sofiane</h3>
            <p class="mb-0">Développeur front-end & back-end</p>
        </div>
    </div>
</div>


<%- include('footer.ejs'); %>