<%- include('header.ejs'); %>
<style>
    .spaced-image {
      margin: 100px;
    }
    .space-text {
        margin: 200px;
        position: absolute;
        top: 1070px;
        left: 10px;
    }
    .Neil {
        margin: 200px;
        position: absolute;
        top: 1070px;
        left: 584px;
    }
    .Amin {
        margin: 200px;
        position: absolute;
        top: 1070px;
        left: 1130px;
    }
    .Aymen {
        margin: 200px;
        position: absolute;
        top: 1070px;
        left: 1677px;
    }
    .Sofiane {
        margin: 200px;
        position: absolute;
        top: 1070px;
        left: 2220px;
    }
    .space-texts {
       margin-left: 120px; 
       
    }
    .Neil-text {
        position: absolute;
        margin-left: 584px;
        top: 1370px;
        left: 100px;
    }
    .Amine-text {
        position: absolute;
        margin-left: 584px;
        top: 1370px;
        left: 615px;
    }

    .Aymen-text {
        position: absolute;
        margin-left: 584px;
        top: 1370px;
        left: 1210px;
    }

    .Sofiane-text {
        position: absolute;
        margin-left: 584px;
        top: 1370px;
        left: 1750px;

   
    }


    .img_so {
        left: 100px;
    }
</style>
<div class="container col-xxl-12 px-4 py-2">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="images/polyglot-diversity-homepage.jpg" class="d-block mx-lg-auto img-fluid" title="" alt="" width="700" height="500" loading="lazy">
            <p class="text-end px-4 fw-lighter">Credit to rawpixel.com</p>
        </div>
        <div class="col-lg-6">
            <h1  class="display-5 text-body-emphasis lh-1 mb-3 py-4 ">À propos de nous</h1>
            <p class="py-2 w-75">Polyglot est un projet réalisé par une équipe d’étudiants en bachelor universitaire de technologie (BUT) ayant pour objectif l'apprentissage de nouvelles langues ainsi que le partage entre utilisateurs.
            </p>
        </div>
    </div>
</div>
<h1  class="display-5 text-body-emphasis lh-1 mb-3 py-4 "><center>Présentation de l'équipe</h1></center>
<img src="images/Angela_photo.png"  title="" alt="" width="350" height="350" class="spaced-image" >
<img src="images/Neil_photo.png"  title="" alt="" width="350" height="350" loading="lazy"class="spaced-image">
<img src="images/Amin_photo.png"  title="" alt="" width="350" height="350" loading="lazy"class="spaced-image">
<img src="images/Aymen_photo.png"  title="" alt="" width="350" height="350" loading="lazy"class="spaced-image">
<img src="images/Sofiane_photo.png" title="" alt="" width="350" height="350" loading="lazy"class="spaced-image">
<h1><span class="space-text">Angela</h1></span> <h1><span class="Neil">Neil</h1></span><h1><span class="Amin">Amin</h1></span><h1><span class="Aymen">Aymen</h1></span><h1><span class="Sofiane">Sofiane</h1></span>
<h3><span class="space-texts"> Développeuse back-end </h3></span> <h3>

<br>

<h3><span class="Neil-text">Développeur front-end </span></h3>
<h3><span class="Amine-text">Administrateur base de données </span></h3>
<h3><span class="Aymen-text">Développeur back-end </span></h3>
<h3><span class="Sofiane-text">Développeur back-end </span></h3>

<%- include('footer.ejs'); %>