<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <style>
    body {
      margin: 0;
      padding: 0;
      position: relative;
    }

    .chat-container {
      width: 25%;
      height: 100vh;
      background-color: #f8f9fa;
      float: left;
      overflow: auto;
      position: relative;
    }

    .content-container {
      width: 75%;
      float: left;
      padding: 20px;
    }


    .send-messages {
      padding: 10px;
      border-top: 1px solid #ccc;
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      align-items: center;
    }

    .send-messages input {
      flex: 1;
      margin-right: 10px;
      border-radius: .4em ;
      border-color: #abd1f8;
    }

    .message-container {
      display: flex;
      flex-direction: column-reverse;
      align-items: left;
      overflow-y: auto;
      max-height: 70vh;
    }

    .message {
      padding: 8px 12px;
      margin-bottom: 4px;
      margin-top: 20px;
      margin-left: 10px;
      border-radius: .4em;
      max-width: 90%;
      word-wrap: break-word;
      text-align: left;
    }

    .message strong {
      color: #1da1f2;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    .settings-icon {
      margin: 15px 15px;
      position: fixed;
      bottom: 10px;
      right: 10px;
      color: #ffffff;
      background-color:  #007bff;
      padding: 10px 10px;
      border-radius: .65em;
      cursor: pointer;
      transition: all .2s;
    }
    .settings-icon:hover{
        color: #abd1f8;
    }

    .activity {
      margin-top: auto;
    }

    .post {
      background-color: #eee;
      border-radius: 10px;
      padding: 0 0 .25rem;
      margin: .5rem;
      overflow: hidden;
      flex-shrink: 0;
    }

    .post--left {
      width: 60%;
      align-self: flex-start;
    }

    .post--right {
      width: 60%;
      align-self: flex-end;
    }

    .post__header {
      color: #fff;
      padding: .25rem .5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: .5rem;
    }

    .post__header--user {
      background-color: blue;
    }

    .post__header--reply {
      background-color: purple;
    }

    .post__header--name {
      font-weight: bold;
    }

    .post__header--time {
      font-size: .8rem;
    }

    .post__text {
      margin-top: 5px;
      color: #333;
      padding: .25rem .5rem;
    }

  </style>
  <title>Chat</title>
</head>

<body>

  <div class="container-fluid">
    <div class="row">
      <div class="chat-container" id="chat">
        <div class="message-container" id="messageContainer">
          <!-- Nouveaux messages apparaîtront ici -->

          <div class="message">


          </div>


        </div>
        <div>

          <p class="activity"></p>
          <p class="user-list"></p>

          <div class="send-messages" id="message">
            <input type="text" id="textMessage" placeholder="Saisissez votre message">
            <button class="btn btn-primary sendMessage">Envoyer</button>
            <p class="user-list"></p>
          </div>
        </div>

      </div>

      <div class="content-container">


        
      </div>
    </div>
    <a href="/account">
    <i class="settings-icon fas fa-cog fa-2x" ></i>
</a>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <script>
  /*  function sendMessage() {
      var chatContainer = document.getElementById('chat');
      var messageContainer = document.getElementById('messageContainer');
      var newMessageContainer = document.createElement('div');
      newMessageContainer.classList.add('message');
      var senderName = 'Joe'; // Nom de l'expéditeur (peut être dynamique)
      newMessageContainer.innerHTML = '<strong>' + senderName + ':</strong> ' + document.querySelector('.send-messages input').value;
      messageContainer.appendChild(newMessageContainer);
      document.querySelector('.send-messages input').value = ''; // Efface le champ de texte après l'envoi du message
    }
*/
    const socket = io('ws://localhost:4111');

    const msgInput = document.querySelector('#textMessage')
    const nameInput = '<%- JSON.stringify(userName) %>'.replaceAll('"','');
    const chatRoom = localStorage.getItem('countryName');
    const activity = document.querySelector('.activity')
    const usersList = document.querySelector('.user-list')
    const chatDisplay = document.querySelector('.message')

    socket.emit('enterRoom',{name: nameInput, room: chatRoom})

    document.title = `Chat - ${chatRoom}`;

    console.log("ok1")

    function sendMessage(e) {
      console.log("ok2");
      e.preventDefault()
      console.log("ok3")
      if (nameInput && msgInput.value && chatRoom) {
        socket.emit('message', {
          name: nameInput,
          text: msgInput.value
        })
        msgInput.value = ""
      }
      msgInput.focus()
    }

    document.querySelector('.sendMessage')
            .addEventListener('click', sendMessage)

    console.log("ok finish")
    msgInput.addEventListener('keypress', () => {
      socket.emit('activity', nameInput)
    })

    // Listen for messages
    socket.on("message", (data) => {
      activity.textContent = ""
      const { name, text, time } = data
      const li = document.createElement('li')
      li.className = 'post'

      // Notre message
      if (name === nameInput) li.className = 'post post--left'

      // Autre message
      if (name !== nameInput && name !== 'Admin') li.className = 'post post--right'
      if (name !== 'Admin') {
        li.innerHTML = `<div class="post__header ${name === nameInput
                ? 'post__header--user'
                : 'post__header--reply'
        }">
        <span class="post__header--name">${name}</span>
        <span class="post__header--time">${time}</span>
        </div>
        <div class="post__text">${text}</div>`
      } else {
        li.innerHTML = `<div class="post__text">${text}</div>`
      }
      document.querySelector('.message').appendChild(li)

      chatDisplay.scrollTop = chatDisplay.scrollHeight
    })

    let activityTimer
    =socket.on("activity", (name) => {
      activity.textContent = `${name} is typing...`

      // Clear after 3 seconds
      clearTimeout(activityTimer)
      activityTimer = setTimeout(() => {
        activity.textContent = ""
      }, 3000)
    })

    socket.on('userList', ({ users }) => {
      showUsers(users)
    })


    function showUsers(users) {
      usersList.textContent = ''
      console.log(chatRoom)
      if (users) {
        usersList.innerHTML = `<em>Users in ${chatRoom}:</em>`
        users.forEach((user, i) => {
          usersList.textContent += ` ${user.name}`
          if (users.length > 1 && i !== users.length - 1) {
            usersList.textContent += ","
          }
        })
      }
    }

  </script>

</body>

</html>
