<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Polyglot</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="d-flex justify-content-start container-fluid">
      <img class="navbar-brand m-2" src="images/logo.png" alt="Logo du site Polyglot" width="150">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-flex justify-content-end collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav me-5">
          <a class="nav-link active mx-4" aria-current="page" href="#">Nos services</a>
          <p class="nav-link">|</p>
          <a class="nav-link mx-4" href="#">À propos de nous</a>
          <p class="nav-link">|</p>
          <a class="nav-link mx-4" href="#">Connexion </a>
          <p class="nav-link">|</p>
          <a class="nav-link mx-4">Contact</a>
        </div>
      </div>
    </div>
  </nav>