<%- include('header.ejs'); %>
<div class="container">
    <div class="row justify-content-center">

        <h3>Bienvenue sur </h3> &nbsp;
        <h3>Polyglot</h3> <br>

    </div>
</div>
<%- include('footer.ejs'); %>